.html { height:100%; }

.body {
  min-height: 100%;
}
.App{
  height: 100%;
} /* reminder that parent divs all need height 100% for children to have same*/
.profile-pic-wrapper{
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 15%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #c0c7d9 ; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  box-shadow: 0 0 5px 10px #c0c7d9;
}
.profile-pic 
  {

  position: relative;
  padding-left: 25%;
  padding-right: 25%;
  width: 50%;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  }
.right-display {
  margin-left: 20%;

}
.projects{
  margin-top: 10%;
  font-family: 'Courier New', Courier, monospace;
}
.project {
  color:#c0c7d9;
  max-width: 200px;
  max-height: 200px;
}
.about {
  font-size: large;
  position: relative;
  padding-left: 13%;
  padding-right: 10%;
  align-items: center;
  justify-content: center;
  
}
.about > ul {
  
  margin: 0%;
  font-size: large;
}
.email {
  word-wrap: break-word;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
}

#paragraph {
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
}
.github-button {
  background-image: url(./images/github.png)  no-repeat 10px center;; /* 16px x 16px */
  background-repeat: no-repeat;  /* make the background image appear only once */
  background-position: center;  /* equivalent to 'top left' */
  
  vertical-align: middle; /* align the text vertically centered */
}
.links {
	list-style: none;
  
  
}
.links > li {
  display: inline;

  align-items: center;
  justify-content: center;
}
.links > li > a > img {
  width: 15%;
  height: 15%;
  padding: 1px;
  

}

